
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--body-font);
    font-size: var(--type-ramp-base-font-size);
    line-height: var(--type-ramp-base-line-height);
    font-weight: var(--font-weight);
    color: var(--neutral-foreground-rest);
    background: var(--neutral-fill-layer-rest);
}

.w-100 {
    width: 100% !important;
}

.nav-menu-side {
    height: calc(100vh - 112px);
    overflow-y: auto;
}

.footer {
    height: 48px;
    padding: 0 8px;
    background: var(--neutral-layer-card-container);
}
