@namespace AterStudio.Components
@implements IDialogContentComponent<AddProjectDto>

<p>仅支持.NET或Node类型项目</p>
<FluentEditForm Model="Content">
    <FluentTextField @bind-Value="Content.ProjectName" Label="项目名称" Required="true" Placeholder="显示名称" Style="width: 100%" />
    <FluentTextField @bind-Value="Content.ProjectDirectory" Label="项目目录" Required="true" Placeholder="项目根目录路径，非文件路径" Style="width: 100%" />
</FluentEditForm>


@code {
    [Parameter] public AddProjectDto Content { get; set; } = null!;
}
