@page "/"
@inherits PageBase
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

@using Microsoft.FluentUI.AspNetCore.Components
<PageTitle>IdentityServer</PageTitle>

<h1>
    Home
</h1>
