<div class="d-flex justify-content-center" style="margin-top: 2rem">
  <mat-card class="col-sm-auto col-12">
    <mat-card-header>
      <mat-card-title>
        {{i18nKeys.login.title | translate}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="mt-2">
      <form [formGroup]="loginForm" (ngSubmit)="doLogin()" class="d-flex flex-column">
        <mat-form-field appearance="outline" class="mt-2">
          <mat-label>{{i18nKeys.login.username|translate}}</mat-label>
          <input matInput type="text" placeholder="用户名4位以上" formControlName="username" required>
          @if (username?.invalid) {
            <mat-error>{{getValidatorMessage('username')}}</mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>{{i18nKeys.login.password|translate}}</mat-label>
          <input type="password" matInput placeholder="密码长度6位(含6位)以上" formControlName="password" required>
          @if (password?.invalid) {
            <mat-error>{{getValidatorMessage('password')}}
            </mat-error>
          }
        </mat-form-field>
        <div class="d-flex justify-content-end">
          <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">{{i18nKeys.login.login|translate}}</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>