<mat-toolbar class="d-flex gap-1">
  <!-- <mat-icon class="clickable" matTooltip="返回" (click)="back()">arrow_back</mat-icon> -->
  <span>保存</span>
</mat-toolbar>
@if (!isLoading) {
  <form class="d-flex p-2" [formGroup]="formGroup">
    <div class="d-flex flex-column w-100">
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>用户名</mat-label>
        <input matInput formControlName="userName" placeholder=""/>
        @if (formGroup.get('userName')?.invalid) {
          <mat-error>
            {{getValidatorMessage('userName')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>密码</mat-label>
        <input matInput formControlName="password" placeholder=""/>
        @if (formGroup.get('password')?.invalid) {
          <mat-error>
            {{getValidatorMessage('password')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>真实姓名</mat-label>
        <input matInput formControlName="realName" placeholder=""/>
        @if (formGroup.get('realName')?.invalid) {
          <mat-error>
            {{getValidatorMessage('realName')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder=""/>
        @if (formGroup.get('email')?.invalid) {
          <mat-error>
            {{getValidatorMessage('email')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>PhoneNumber</mat-label>
        <input matInput formControlName="phoneNumber" placeholder=""/>
        @if (formGroup.get('phoneNumber')?.invalid) {
          <mat-error>
            {{getValidatorMessage('phoneNumber')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>头像url</mat-label>
        <input matInput formControlName="avatar" placeholder=""/>
        @if (formGroup.get('avatar')?.invalid) {
          <mat-error>
            {{getValidatorMessage('avatar')}}
          </mat-error>
        }
      </mat-form-field>
      <mat-form-field class="w-100" appearance="fill">
        <mat-label>性别</mat-label>
        <mat-select formControlName="sex" placeholder="请选择">
          @for (item of GenderType | toKeyValue; track item) {
            <mat-option [value]="item.value">
              {{item.key}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div class="d-flex mt-1 justify-content-end">
        <button class="d-flex flex-column" mat-flat-button color="primary" (click)="edit()">保存</button>
      </div>
    </div>
  </form>
}