@using Microsoft.FluentUI.AspNetCore.Components
<nav>
    <ul style="list-style:none; padding:0; margin:0;">
        <li style="margin-bottom:8px;">
            <FluentButton Href="/" Style="width:100%; justify-content: flex-start;">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true" style="margin-right: 8px;"></span> 首页
            </FluentButton>
        </li>
        <li>
            <FluentButton Href="client-apps" Style="width:100%; justify-content: flex-start;">
                <span class="bi bi-app-indicator-nav-menu" aria-hidden="true" style="margin-right: 8px;"></span> 客户端管理
            </FluentButton>
        </li>
    </ul>
</nav>

