<mat-toolbar>
  <button mat-icon-button (click)="back()" matTooltip="返回">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>
    {{name}}
  </span>
  <div class="d-flex flex-grow-1"></div>
  <button mat-icon-button (click)="save()" matTooltip="保存修改">
    <mat-icon class="text-primary">save</mat-icon>
  </button>
</mat-toolbar>

@if (!isLoading) {
  <div class="">
    @if (dtos.length<=0) {
      <section class="noContent">
        未找到相关DTO
      </section>
    }
    @if (dtos.length>0) {
      <section class="content">
        <div class="d-flex flex-column p-1">
          <mat-tab-group class="w-100" (selectedTabChange)="tabChange($event)">
            @for (dto of dtos; track dto) {
              <mat-tab [label]="dto.name!"></mat-tab>
            }
          </mat-tab-group>
          <div class="d-flex w-100">
            <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code"
            (onInit)="onInit($event)"></ngx-monaco-editor>
          </div>
        </div>
      </section>
    }
  </div>
}