.header .nav-item ::deep a {
    text-decoration: none;
    color: white !important;
    padding: 0.65rem 1rem;
    border-radius: 1rem;
}

.header .nav-item ::deep a:hover {
    background-color: rgb(0, 0, 0, 0.2);
}

.header .nav-item ::deep a.active {
    color: white !important;
    background-color: #a974ff;
}